* {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing: antialiased;
}

html {
	background:url('../img/bbc.png') no-repeat;
	background-size: cover;
	font-family: "jubilat";
}

.slidingDiv {
    height:250px;
    background:rgba(59, 82, 152, .9);
    padding:20px 0;
    margin:-8px;
    border-bottom:1px solid black;
}

/* slider */
 
.show_hide {
    display:none;
    position: absolute;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.quarter {
	width: 23%;
}

.half {
	width: 49%;
}

.number {
	font-size: 80px;
	line-height: 140px;
	font-weight: 500;
	margin:0;
	color:#fafafa;
 }



.button {
	width: 100%;
	height: 75px;
	padding:20px 50px;
  	border: 4px solid #fafafa;
  	background:rgba(59,89,152,.9);
   	text-transform: uppercase;
  	font-size: 20px;
  	color:#fafafa;
  	cursor: pointer;
  	font-family: "jubilat";
}

#twitter-blue {
	background: rgba(85,172,238,.9);
}


h2 {
	text-align: center;
	font-weight: 200;
	padding:0 30px;
	font-size: 70px;
	color:#fafafa;
 }



.home-button {
	position: absolute;
	bottom: 0;
	left: 0;
}